<div class="center hero-unit">
  
  <%= link_to image_tag("privacy_chirp.gif", alt: "Chirper", style: "float: left"), 'http://www.urbandictionary.com/define.php?term=Chirper' %>

  <h1>Welcome to Chirper!</h1>

  <h2>
    Chirper is a short message communication system. A social fun cocktail party powered by Rails.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

